* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #1a1a1a;
    
  }
  body{
    padding-top: 7rem;
  }
  header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(252, 252, 252, .5);
    color: #1a1a1a;
    padding: 1rem 0px;
    width: 100vw;
    backdrop-filter: blur(8px) saturate(180%);
    z-index: 1;
  }
  header .head-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  .container{
    margin: 0 auto;
    padding: 0 2rem;
  }
  .logo{
    font-weight: 800;
    cursor: pointer;
  }
  .menu-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .hamburger {
    display: flex;
    position: relative;
    padding: 8px 0px;
    flex-direction: column;
    row-gap: 5px;
    cursor: pointer;
    align-items: flex-end;
    z-index: 1;
    width: 2.5rem;
}
.hamburger span:nth-child(1) {
  background-color: #1a1a1a;
  height: 3px;
  width: 40px;
  border-radius: 0.125rem;
}
.hamburger span:nth-child(2) {
  background-color: #1a1a1a;
  height: 3px;
  width: 40px;
  border-radius: 0.125rem;
}
.hamburger span:nth-child(3) {
  background-color: purple;
  height: 3px;
  width: 20px;
}
  .cont {
    max-width: 1140px;
    margin: 0px auto;
    padding: 0px 2rem;
}
.about {
    padding-bottom: 5rem;
}
section {
    padding: 5rem 0px;
}
.about-container {
  max-width: 1140px;
  margin: 0px auto;
  padding: 0px 2rem;
}
.about-title {
  font-size: 5rem;
  font-weight: 800;
  letter-spacing: 0px;
  line-height: 100%;
  margin-bottom: 6rem;
  color: #fcfcfc;
  -webkit-text-stroke: 0.125rem #1a1a1a;
}
.about-details {
  display: flex;
  column-gap: 5rem;
}
.about-details .img img {
  display: block;
  object-fit: cover;
  max-width: 100%;
  border-radius: 0.5rem;
  opacity: .8;
}
.title {
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 100%;
  margin-bottom: 2.5rem;
}
.about-details .about-text p {
  margin-bottom: 1.5rem;
}
p {
  color: #1a1a1a;
  font-size: 1.125rem;
  line-height: 1.5;
  margin: 0;
}
.btn-container {
  display: flex;
  gap: 2rem;
  margin: 2rem 0 0;
  align-items: center;
}
.btn-container .button {
  width: 100%;
}
.button{
  display: flex;
  align-items: center;
  height: 4em;
  padding: 0 2em;
  border: 1px solid purple;
  box-shadow: 0 10px 50px rgb(0 0 0 / 10%);
  border-radius: 0.25em;
  font-size: 1.125rem;
  font-weight: bold;
  cursor: pointer;
}
a {
  text-decoration: none;
}
.recepies {
  padding-bottom: 5rem;
}
.title {
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 100%;
  margin-bottom: 2.5rem;
}
.tabs {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  width: 100%;
  overflow-x: scroll;
  border-bottom: 1px solid #e6e6e6;
  box-shadow: 0 3px 15px #13131303;
}
.tab.active {
  color: #1a1a1a;
  border-bottom: 2px solid purple;
}
.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4d4d4d;
  background-color: #fcfcfc;
  margin-right: 0.5rem;
  padding: 1rem 1.25rem;
  font-size: 1rem;
  font-weight: bold;
  line-height: 100%;
  cursor: pointer;
}
.skills-container{
  display: flex;
  gap: 1rem;
}
.card{
  display: flex;
  background-color: #ffffff05;
  border: 1px solid #f0f0f0;
  border-radius: 0.5rem;
  padding: 2rem;
  box-shadow: 0 10px 50px #ffffff05;
}
.card-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
}
.card-icon img{
  height: 2rem;
  width: 2rem;
}
.card-text{
  background-color: #fcfcfc;
  display: flex;
  align-items: center;
  font-size: 1rem;
}
.timeline{
  list-style: none;
  max-width: 600px;
}
ul, li{
  list-style: none;
}
.timeline-item{
  padding: 0 0 1rem 1rem;
}
.timeline-item h3{
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.5;
  color: #1a1a1a;
}
.timeline-item h4{
  display: inline;
  font-size: 1rem;
  font-weight: normal;
  color: #1a1a1a;
}
.timeline-item h4 span{
  color: #808080;
}
.timeline .time-span{
  display: block;
  font-size: 0.875rem;
  color: #4d4d4d;
  margin-bottom: 0.5rem;
}
.timeline p{
  display: block;
  color: #808080;
  font-size: 0.875rem;
}
.line{
  border-top: 1px solid #e6e6e6;
  padding-top: 6rem;
}

.section-title {
  display: flex;
  align-items: center;
  font-size: 5rem;
  font-weight: 800;
  letter-spacing: 0px;
  line-height: 100%;
  margin-bottom: 6rem;
  color: #fcfcfc;
  -webkit-text-stroke: 0.125rem #1a1a1a;
}
.section-title{
  margin-bottom: 4rem;
}
.footer-text{
  max-width: 600px;
}
.footer-text p{
  margin-bottom: 3rem;
}
.button{
  
  border: 1px solid #800080;
  height: 4em;
  width: max-content;
  padding: 0 2em;
  font-size: 1.125rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  border-radius: 0.25em;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1);
  background-color: rgba(252, 252, 252, 0.02);
  cursor: pointer;

}


.footer-end{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6rem;
}
a{
  text-decoration: none;
}
.link{
  
  margin-right: 1rem;
  font-weight: 800;
  font-size: 1.25rem;
  letter-spacing: 1px;
  line-height: 100%;
  cursor: pointer;
  -webkit-text-stroke: 1.25px purple;
  
  color: #e6e6e6;
}
.link:hover{
  color: purple;
  transition: 0.3s ease-in;
}