* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}
html{
  position: relative;
  scroll-behavior: smooth;
}
body {
  background-color: #fcfcfc;
  color: #1a1a1a;
  margin: 8px;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(252, 252, 252, .5);
  color: #1a1a1a;
  padding: 14px 0px;
  width: 100vw;
  backdrop-filter: blur(8px) saturate(180%);
}
.head-container {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  height: 56px;
  align-items: center;
  padding: 0 2rem;
  margin: 0px auto;
}
.logo{
  font-weight: 800;
  cursor: pointer;
}
.hamburger{
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  cursor: pointer;
}
.hamburger span{
  background-color: black;
  height: 5px;
  width: 40px;
}
p{
    line-height: 1.5;
    margin: 0px;
    font-size: 1.125rem;
    color: #1a1a1a;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.greetings {
  margin-bottom: 2rem;
  font-weight: bold;
  color: #b3b3b3;
  
}
b{
    color: #1a1a1a;
}
section{
  padding: 5rem 0;
  display: block;
}
.container{
  margin: 0 auto;
  padding: 0 2rem;
}
.hero-left{
  max-width: 100%;
}
.hero {
  padding: 5rem 0;
}
.hero-title{
    position: relative;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 0px;
    line-height: 100%;
    color: transparent;
    -webkit-text-stroke: 0.125rem #1a1a1a;
}
.sub-hero-title{
  margin-top: 2rem;
}
.hero-right{
  opacity: .8px;
  border-radius: 0.5rem;
  overflow: hidden;
}
 img{
  display: block;
  max-width: 100%;
  margin-top: -7rem;
  border-radius: 0.25rem;
}
.quote{
  font-family: monospace;
  text-align: center;
  font-size: 1.25rem;
  font-weight: normal;
  color: #4d4d4d;
}
@media only screen and (max-width: 480px) {
    html{
        font-size: 14px;
    }
    body{
    padding-top: 4rem;
    }
    
    .greetings {
    font-size: 1.625rem;
    
  }
  .hero-title{
    font-size: 4rem;
  }
}
@media only screen and (max-width: 768px){

}
@media only screen and (max-width: 930px){

}