* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #1a1a1a;
  
}
html{
  position: relative;
  scroll-behavior: smooth;
}
body {
  background-color: #fcfcfc;
  padding-top: 7rem;
}
header {
  
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(252, 252, 252, .5);
  color: #1a1a1a;
  padding: 1rem 0px;
  width: 100vw;
  backdrop-filter: blur(8px) saturate(180%);
  z-index: 1;
}
header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-header{
  background-color: purple;
  
}



#menu{
  display: none;
  align-items: center;
  justify-content: center;
  background-color: #800080;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  padding: 100px;
  color: #fcfcfc;
  transition: 0.3s ease-out;
  z-index: 1;
  opacity: .5;
  transform: translateY(-80%);
}
#menu.open{
  display: flex;
  opacity: 1;
  transform: translateY(0);

}
.menu-btn{
  display: flex;
  align-items: center;
  
  
}
.menu-text{
  display: none;
  color: #1a1a1a;
}
.menu-btn .menu-text{
  color: purple;
  font-weight: bold;
  font-size: 1.5rem;
  margin-right: 1rem;
  opacity: 0;
  transition: all 0.3s ease-out 0s;
}
.menu-btn .menu-text:hover{
  display: block;
  
}

.menu .container{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.menu-left{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}
.link-outline{
  position: relative;
  margin-right: 1rem;
  font-weight: 800;
  line-height: 100%;
  cursor: pointer;
  transition: .3s ease-in;
}
.nav-link{
  font-size: 5rem;
  color: transparent;
  font-weight: 800;
  -webkit-text-stroke: 0.125rem #fcfcfc;
  margin-right: 1rem;
  position: relative;
  line-height: 100%;
  margin-top: 1rem;
  letter-spacing: 4px;
  display: inline;
  width: auto;
  text-align: right;
  animation: show-nav .3s ease-out both;
  animation-delay: .75s;
  opacity: 0;
  
}
.nav-link:nth-child(1){
  animation-delay: .3s;
}
.nav-link:hover{
  color: #fcfcfc;
}
.nav-link.active{
  color: #fcfcfc;
}
.head-container {
  
  display: flex;
  justify-content: space-between;
  height: 56px;
  align-items: center;
  padding: 0 2rem;
  margin: 0px auto;
}
.logo{
  font-weight: 800;
  cursor: pointer;
  z-index: 2;
}
.b{
  color: purple;
}
.logo-change{
  color: #fcfcfc;
}
.logo-change .b{
  color: #fcfcfc;
}
.hamburger{
  display: flex;
  
  padding: 8px 0px;
  flex-direction: column;
  row-gap: 5px;
  cursor: pointer;
  align-items: flex-end;
  z-index: 2;
  width: 2.5rem;
}
.burger1, .burger2{
  background-color:#1a1a1a;
  min-height: 4px;
  width: 100%;
  margin: 2px 0px;
  border-radius: 0.125rem;
  transition: .3s ease-in-out;
}
/*.hamburger span:nth-child(2) {
  background-color:#1a1a1a;
  height: 3px;
  width: 40px;
  border-radius: 0.125rem;
}*/
.hamburger span:nth-child(3){
  background-color: purple;
  
  width: 1.5rem;
  
}

.hero .container{
  display: flex;
  gap: 7rem;
  align-items: center;
}
p{
    line-height: 1.5;
    margin: 0px;
    font-size: 1.125rem;
    color: #1a1a1a;
    
}
.greetings {
  margin-bottom: 2rem;
  font-weight: bold;
  color: #b3b3b3;
  
}
b{
    color: #1a1a1a;
}
section{
  padding: 5rem 0;
  display: block;
}
.container{
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 2rem;
}
.hero-left{
  max-width: 100%;
}
.hero {
  padding: 5rem 0;
}
.hero-title{
    font-size: 5rem;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 0px;
    line-height: 100%;
    color: transparent;
    -webkit-text-stroke: 0.125rem #1a1a1a;
}
h2{
  display: block;
}
.sub-hero-text{
  margin-top: 2rem;
}
.hero-right{
  
  opacity: .8;
  border-radius: 0.5rem;
  overflow: hidden;
}
.hero-right img{
  display: block;
  max-width: 100%;
  margin-top: -7rem;
  border-radius: 0.25rem;
}
.quote{
  font-family: monospace;
  text-align: center;
  font-size: 1.25rem;
  font-weight: normal;
  color: #4d4d4d;
}
.sub-title{
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 100%;
  margin-bottom: 2.5rem;
}
/*.card-container{
  display: flex;
  grid: 4rem;
}*/
.card{
  padding: 0;
  cursor: pointer;
  max-width: 500px;
  border: 1px solid #f0f0f0;
  border-radius: 0.5rem;
  box-shadow: 0 10px 50px #00000005;
}
.card-img-container{
  width: 100%;
}
.card-img{
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.line{
  border-top: 1px solid #e6e6e6;
  padding-top: 6rem;
}

.card-footer{
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.project-title{
  font-size: 1.5rem;
}
.project-type{
  font-size: 0.875rem;
  color: #808080;
}
.project-button{
  margin: 4rem auto 2rem;
}
.section-title{
  margin-bottom: 4rem;
  display: flex;
  align-items: center;
  font-size: 5rem;
  font-weight: 800;
  font-style: normal;
  letter-spacing: 0px;
  line-height: 100%;
  color: transparent;
  -webkit-text-stroke: 0.125rem #1a1a1a;
}
.footer-text{
  max-width: 600px;
}
.footer-text p{
  margin-bottom: 3rem;
}
.button{
  
  border: 1px solid #800080;
  height: 4em;
  width: max-content;
  padding: 0 2em;
  font-size: 1.125rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  border-radius: 0.25em;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1);
  background-color: rgba(252, 252, 252, 0.02);
  cursor: pointer;

}


.footer-end{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6rem;
}
a{
  text-decoration: none;
}
.link{
  display: inline;
  margin-right: 1rem;
  font-weight: 800;
  font-size: 1.25rem;
  letter-spacing: 1px;
  line-height: 100%;
  cursor: pointer;
  -webkit-text-stroke: 1.25px purple;
  opacity: 0;
  color: #e6e6e6;
  animation: show-nav .3s ease-out both;
  animation-delay: .78s;
}
.link:hover{
  color: purple;
  transition: 0.3s ease-in;
}
.white{
  color: #f0f0f0;
}
.white .b{
  color: #f0f0f0;
}
.white-burger1{
  background-color: #fcfcfc;
  transform: rotate(45deg) translateX(15px) translateY(5px);
}
.white-burger2{
  background-color: #fcfcfc;
  transform: rotate(-45deg) translateX(5px) translateY(6px);
}


@media only screen and (max-width: 480px) {
    html{
        font-size: 14px;
    }
    body{
    padding-top: 4rem;
    }
    
    .greetings {
    font-size: 1.625rem;
    
  }
  .hero-title{
    font-size: 4rem;
  }
  .hero-right{
    margin-top: 5rem;
  }
  .section-title{
    font-size: 3.75rem;
    -webkit-text-stroke: 0.125rem #1a1a1a;
  }
  .footer-end{
    flex-direction: column;
  }
  .footer-end .footer-socials{
    margin-bottom: 3rem;
  }
  .sub-section{
    margin-top: 10rem;
  }
}
@media only screen and (max-width: 768px){

}
@media only screen and (max-width: 930px){

}
@keyframes show-nav{
0%{
  opacity: 0;
  transform: translateY(-100);
  }
  100%{
    opacity: 1;
    transform: translate(0);
  }
  
}